:root {
  --welcome1--bg--color: white;
  --welcome1--button-text: white;
  --z-index-bottom-nav: 10;
  --welcome1-nav-height: 64px;
  --welcome1-nav-gap: 8px;
  --welcome1-bg-start: #5d33be;
  --welcome1-bg-end: #8f4cd7;
  --transition-duration: 0.5s;
  --button-bg: #5c33be;
  --button-text: white;
  --button-font-size: 18px;
  --button-radius: 8px;
  --button-height: 48px;
  --float-button-text: white;
  --float-button-bg: var(--button-bg);
  --navbar-bg-start: var(--welcome1-bg-start);
  --navbar-bg-end: var(--welcome1-bg-end);
  --navbar-text: white;
}
